extends layout

block content
    .jumbotron.text-center.m-5
        h1.display-3 Thank you so much for your participation!
    h5.jumbotron.text-center
        u Email Us for any suggestions
        br
        .text-primary mjrproject.sagarmatha@gmail.com