<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
  />
    <title>Welcome to data collection for nepal speech processing</title>
  </head>
  <body>
    <div class="jumbotron text-center m-5">
      <h3>Welcome To Nepali Speech recognition Data Collection</h3><br>
      <h2>Please select your Gender</h2><br>
      <div>
      <form action="/collect" method="post">
        <input type="radio" name="gender" value="male"><span class="p-3 fs-4">Male</span><br>
        <input type="radio" name="gender" value="female"><span class="p-3 fs-4">Female</span><br>
        <input type="radio" name="gender" value="other"><span class="p-3 fs-4">Other</span><br>
        <input type="submit" class = "btn btn-primary" value="Submit">
      </form>
      </div><br>
    </div>
  </body>
</html>
