<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Welcome to data collection for nepal speech processing</title>
  </head>
  <body>
    <div class="jumbotron text-center m-5">
      <h2>Welcome To Nepali Speech recognition Data Collection</h2>
      <br />
      <p class="fs-5">
        This is a IOE, Tribhuvan University's final year project's data
        collection to create a Nepali Speech Recognition model. Here after you
        select your gender, you'd be shown a text in devnagari lipi and you can
        record your voice reading that text shown. To make sure it is correct,
        you can replay the recording and re-record it as per requirement.
      </p>
      <p class="text-start">
        <b>Contact Info: mjrproject.sagarmatha@gmail.com</b>
      </p>
    </div>
    <hr style="width: 90%; margin-left: 5%" />
    <div class="container pl-2">
      <div class="row">
        <div class="col-4">
          <h4>Please select your Gender</h4>
          <br />
          <form action="/collect" method="post">
            <label>
              <input type="radio" name="gender" value="male" required /><span
                class="p-3 fs-4"
                >Male</span
              > </label
            ><br />
            <label>
              <input type="radio" name="gender" value="female" /><span
                class="p-3 fs-4"
                >Female</span
              > </label
            ><br />
            <label>
              <input type="radio" name="gender" value="other" /><span
                class="p-3 fs-4"
                >Other</span
              > </label
            ><br />
            <input type="submit" class="btn btn-primary mt-3" value="Next" />
          </form>
        </div>
        <div class="col">
          <h4>Steps To start recording audio in this site</h4>
          <iframe
            src="https://www.youtube.com/embed/XldywwZ8Ss4"
            width="100%"
            height="100%"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <br />
      </div>
    </div>
  </body>
</html>
